# /etc/systemd/system/pg-backup.service

[Unit]
Description=PostgreSQL Backup

[Service]
Type=oneshot

# Create backup
ExecStart=/usr/local/bin/pg-backup.sh

# Log to pg-backup.log
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pg-backup
