#!/bin/bash

# /usr/local/bin/pg-backup.sh

path=/backup
path_backup=/$path/pg_$(date "+%Y-%m-%d_%H-%M-%S")
mkdir -p $path_backup

# Clear old backup
rm -rf $(find $path/* -type d -ctime +31)

# Create backup
for dbname in $(sudo -u postgres psql -h {{ replica_ip }} -c "SELECT datname FROM pg_database;" | egrep -v 'template0|template1|postgres' | tail -n +3 | head -n -2); do
    sudo -u postgres pg_dump -h 192.168.50.10 $dbname | gzip > /$path_backup/$dbname.sql.gz
done;
