#!/bin/bash
# /usr/local/bin/pg-backup.sh

path=/backup
path_backup=/$path/pg_$(date "+%Y-%m-%d_%H-%M-%S")
mkdir -p $path_backup

# Clear old backup
rm -rf $(find $path/* -type d -ctime +31)

# Create backup
for dbname in `echo "SELECT datname FROM pg_database;" | psql | egrep -v 'template0|template1|postgres'`; do
    pg_dump -h 192.168.50.10 $dbname | gzip > $pathB/$dbname.sql.gz
done;