# /etc/systemd/system/pg-backup.service

[Unit]
Description=PostgreSQL Backup

[Service]
Type=oneshot

# Create backup
ExecStart=/usr/local/bin/pg-backup.sh

# Clear old backup
ExecStart=/bin/borg prune \
--keep-daily 90 \
--keep-monthly 12 \
--keep-yearly 1 \
${BORG_REPO}

# Log to pg-backup.log
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pg-backup