---
# tasks file for postgresql

- name: Install PostgreSQL repo
  yum: 
    name: https://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm
    state: latest
    update_cache: true

- name: Install postgresql14-server
  yum:
    name: postgresql14-server
    state: present
    update_cache: true

- name: Include master server tasks
  include_tasks: master.yml
  when: '"master" in ansible_hostname'

- name: Include replica server tasks
  include_tasks: replica.yml
  when: '"replica" in ansible_hostname'

- name: Include replica server tasks
  include_tasks: backup.yml
  when: '"backup" in ansible_hostname'
